/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
    -fx-text-fill: #4682b4;
    -fx-background-color: rgb(235, 235, 235);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 6 6 6 6; /*top right bottom left*/
    -fx-border-radius: 10;
}

.gridpane{
	-fx-alignment: center;
	-fx-vgap: 5;
	-fx-hgap: 5;
	-fx-padding: 5 5 20 5;
	-fx-position-shape: true;
}

.vboxSelectDigits{
	-fx-alignment: center;
	-fx-padding: 5 25 5 25;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.mainListView{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}
